body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

code {
  color: aquamarine;
  background: #293133;
  padding: 0 4px;
  border-radius: 2px;
}